

.navigation {
  position: absolute;
  width: 10%;
  height: 75%;
  padding: 5px;
  margin-left: 3%;
  border-radius: 15px;
  transition: 0.5s;
/*  background: #161616;*/
  top: 50%;
  transform: translateY(-50%);
}

.navList {
  position: absolute;
  width: 90%;
  list-style: none;
/*  background: #161616;*/
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.link {
  position: relative;
  width: fit-content;
  color: #f6f6f6;
  list-style: none;
  margin: 40% auto;
}

.linkStyle {
  text-decoration: none;
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
}

.linkStyle:hover {
  color: lightgreen;
}

.landing {
  position: absolute;
  width: 75%;
  height: 85%;
  margin: auto;
  padding: 5px;
  background: #333333;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
}

.view{
  width: 95%;
  height: 95%;
  background: #161616;
  border: #161616 2px solid;
  border-radius: 10px;
  margin: 10px auto;
}

.topBar {
  width: 100%;
  height: 5%;
  background: #161616;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #333333;
}

.button1 {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  margin: 10px 3px;
  transition: 1s;
  background: red;
  margin-left: 5px;
}

.button2 {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  margin: 10px 3px;
  transition: 1s;
  background: yellow;
}

.button3 {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  margin: 10px 3px;
  transition: 1s;
  background: lightgreen;
}

.windows {
  visibility: collapse;
}

.preview {
  position: relative;
  width: 95%;
  height: 100%;
}

.hidden {
  visibility: collapse;
}

.content {
  width: 100%;
  background: #161616;
  height: 90%;
/*  padding: 10px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.jkcIntro {
  position: absolute;
  top: 35%;
  width: 50%;
  color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 10px;
  margin: 10px;
}

.headshot {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}

.headshot1 {
  background-image: url("images/headshot.jpg");
  background-size: cover;
  box-shadow: 0 0 8px 8px #161616 inset;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}

.title {
  width: fit-content;
  position: absolute;
  top: 15%;
  left: 25%;
  background: linear-gradient(45deg, lightgreen 0%, lightblue 50%, lightgreen 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

.footer {
  position: absolute;
  width: 95%;
  color: #161616;
  margin: 0 20px;
  padding: 5px;
  border-radius: 10px;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.fancyFont {
  color: #161616;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.social{
  position: absolute;
  width: 10%;
  right: 3%;
  bottom: 1%;
}

.socialLinks{
  margin: 0 5%;
}


